.header-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.color-text {
    color: #0e378f;
}

.center-text {
    font-size: 1rem;
}

.color-descrip {
    color: chocolate;
}

.color-tit {
    font-size: 1.2rem;
    color: #000;
}