<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="dark">Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-align-items-center">
  <section class="container">
    <ion-img class="img-login ion-margin-top ion-padding-top" src="../../../assets/register.svg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
    <form [formGroup]="registerForm">
      <ion-item class="input_margin">
        <ion-input formControlName="name" label="Nombre" label-placement="floating"
          placeholder="Ingresa tu nombre"></ion-input>
      </ion-item>
      <ion-item class="input_margin">
        <ion-input formControlName="email" label="Email" type="email" label-placement="floating"
          placeholder="Ingresa tu correo"></ion-input>
      </ion-item>
      <ion-item class="input_margin">
        <ion-input formControlName="password" label="Contraseña" type="password" label-placement="floating"
          placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>
    </form>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      
      <ion-col size="12">
        <ion-button expand="block" shape="round" (click)="onSubmit()" [disabled]="registerForm.invalid">Registrarse</ion-button>
      </ion-col>
      <ion-text color="medium">
        <p>o también puedes</p>
      </ion-text>
      <ion-col size="12">
        <ion-button expand="block" shape="round" fill="outline" routerLink="/login">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </section>
  <ion-toast [isOpen]="isToastOpen" [message]="message" [duration]="5000" (didDismiss)="setOpen(false)"></ion-toast>
</ion-content>
